<div id="div-root" *ngIf="student!==null">
  <header class="row">
    <div class="col-lg-6">
      <h1>More details of {{student.name}}</h1>
    </div>
    <div class="col-lg-6 text-right">
      <ol class="breadcrumb float-end bg-transparent">
        <li class="breadcrumb-item">Student</li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
        <li class="breadcrumb-item active" aria-current="page">{{student.name}}</li>
      </ol>
    </div>
  </header>
  <div class="row div-coloumn-main">
    <div class="col-lg-2 div-coloumn-img">
      <img class="" alt="" height="150px" src="data:image/jpeg;base64,{{ student.image?.['image'] }}"
           width="180px">
      <div class="div-coloumn-main-idName">
        <div class="row m-0 p-0 ">
          <div class="col-lg-6 div-coloumn">ID :</div>
          <div class="col-lg-6 div-coloumn">{{student.id}}</div>
        </div>

        <div class="row m-0 p-0 ">
          <div class="col-lg-6 div-coloumn">Name :</div>
          <div class="col-lg-6 div-coloumn">{{student.name}}</div>
        </div>
      </div>

    </div>

    <div class="col-lg-10 div-coloumn-data ">
      <div class="row m-0 p-0 ">
        <div class="col-lg-6 div-coloumn-label">Name :</div>
        <div class="col-lg-6 div-coloumn">{{student.name}}</div>
      </div>

      <div class="row m-0 p-0  ">
        <div class="col-lg-6 div-coloumn-label">Date of Birth :</div>
        <div class="col-lg-6 div-coloumn">{{student.dob}}</div>
      </div>
      <div class="row m-0 p-0">
        <div class="col-lg-6 div-coloumn-label">Gender :</div>
        <div class="col-lg-6 div-coloumn">{{student.gender?.['name']}}</div>
      </div>
      <div class="row m-0 p-0">
        <div class="col-lg-6 div-coloumn-label">Index :</div>
        <div class="col-lg-6 div-coloumn">{{student.index}}</div>
      </div>

      <div class="row m-0 p-0">
        <div class="col-lg-6 div-coloumn-label">Mobile :</div>
        <div class="col-lg-6 div-coloumn">{{student.mobile}}</div>
      </div>
      <div class="row m-0 p-0">
        <div class="col-lg-6 div-coloumn-label">Address :</div>
        <div class="col-lg-6 div-coloumn">{{student.address}}</div>
      </div>
      <div class="row m-0 p-0">
        <div class="col-lg-6 div-coloumn-label">Email :</div>
        <div class="col-lg-6 div-coloumn">{{student.email}}</div>
      </div>
    </div>
<!--    <div class="col-1"></div>-->
  </div>

  <div class="mat-text-right">
    <button class="mat-flat-sm" color="primary" mat-flat-button routerLink="/students/">
      <!--      <mat-icon>arrow_back</mat-icon>-->
      Show All Students
    </button>
  </div>

</div>
