<!--<a routerLink="">Home</a>&nbsp;&nbsp;-->
<!--<a routerLink="employees">view</a>&nbsp;&nbsp;-->
<!--<a routerLink="employees/add">Form</a> <br><br>-->

<!--<router-outlet></router-outlet>-->
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Document</title>
</head>
<body>

<nav>hello
  <a routerLink="students">View</a>&nbsp;&nbsp;

</nav>
<div class="container-fluid">
  <div class="main">
    <div class="row">
        <router-outlet></router-outlet>



    </div>
  </div>
</div>
</body>
</html>
